.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32rpx;
  flex: 1;
  background-color: var(--app-B2);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  margin-bottom: var(--tabbar-height, 55px);
  align-items: center;
}

.btn {
  margin: 4px;
}

.title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
}
